<% include includes/head %>
    <div class="wrapper">
        <% include includes/sidebar %>
            <div class="main-content">
                <% include includes/navbar %>
                    <div class="content">
                        <div class="container-fluid">

                            <!-- BreadCrumb -->
                            <div class="row">
                                <div class="col-12">
                                    <ol class="breadcrumb bg-light-mode">
                                        <li class="breadcrumb-item">
                                            <a href="">
                                                <i class="fas fa-home"></i> Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="/admin/Sponsors">
                                                <i class='fas fa-users'></i>
                                                Sponsors
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <i class="fas fa-pencil-alt"></i>
                                            Edit Sponsor
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <!-- BreadCrumb End -->

                            <!-- Sponsor Form -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-stats mt-5">
                                        <div class="card-table-title bg-success">
                                            <h4 class="card-title ">
                                                <%= edity.fname %> Sponsor Profile Form
                                            </h4>
                                            <p class="card-description"> Edit <%= edity.fname %>'s Sponsor
                                                    Profile.</p>

                                        </div>
                                        <div class="card-body mt-5 brrr">
                                            <form class=" mt-4" method="POST" enctype="multipart/form-data">
                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <div class="form-group error my-4">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">User ID</label>
                                                            <input type="text" class="form-control" id="userID"
                                                                name="userID" value="<%= edity.user_id %>"
                                                                placeholder="User ID....." disabled="">
                                                            <span class="text-danger user-id-error my-1"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">First Name</label>
                                                            <input type="text" class="form-control" id="fname"
                                                                name="fname" placeholder="First Name....."
                                                                value="<%= edity.fname %>">
                                                            <span class="text-danger fname-error my-1"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Last Name</label>
                                                            <input type="text" class="form-control" id="lname"
                                                                name="lname" placeholder="Last Name....."
                                                                value="<%= edity.lname %>">
                                                            <span class="text-danger lname-error my-1"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">DOB</label>
                                                            <input type="date" class="form-control" id="dob" name="dob"
                                                                placeholder="Date of Birth" <span
                                                                class="text-danger dob-error my-1"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Age</label>
                                                            <input type="text" class="form-control" id="age" name="age"
                                                                placeholder="Age....." disabled value="<%= edity.age%>">
                                                            <span class="text-danger age-error my-1"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Gender</label>
                                                            <select class="form-control" id="gender"
                                                                value="<%= edity.gender %>">
                                                                <option value="">Select a Gender .....</option>
                                                                <option value="Male"> Male </option>
                                                                <option value="Female"> Female </option>
                                                            </select>
                                                            <span class="text-danger gender-error my-1"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Country</label>
                                                            <select class="form-control" id="country"
                                                                value="<%= edity.country %>">

                                                            </select>
                                                            <span class="text-danger country-error my-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">State</label>
                                                            <select class="form-control" id="state">

                                                            </select>
                                                            <span class="text-danger state-error my-1"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Email</label>
                                                            <input type="email" class="form-control" id="email"
                                                                placeholder="Email....">
                                                            <span class="text-danger email-error my-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-row">
                                                            <div class="col-4">
                                                                <div class="form-group bmd-form-group">
                                                                    <label class="bmd-label-floating">Code</label>
                                                                    <input type="text" class="form-control"
                                                                        id="countryCode" disabled="">
                                                                    <span class="text-danger code-error my-1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="form-group bmd-form-group">
                                                                    <label class="bmd-label-floating">Telephone</label>
                                                                    <input type="tel" class="form-control"
                                                                        id="telephone" placeholder="Phone Number....">
                                                                    <span class="text-danger tely-error my-1"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Profession</label>
                                                            <input type="text" class="form-control" id="title" value="<%= edity.proffession %>" placeholder="Profession....">
                                                            <span class="text-danger title-error my-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group">
                                                            <label class="bmd-label-floating">Password</label>
                                                            <input type="password" class="form-control" id="password"
                                                                placeholder="Password....">
                                                            <span class="text-danger password-error my-1"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group filly bmd-form-group">
                                                            <label class="bmd-label-floating">Profile Picture</label>
                                                            <input type="file" class="form-control" id="profilePic"
                                                                placeholder="upload an image.....">
                                                            <span class="text-danger pp-error my-1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group bmd-form-group prev  deactivated">
                                                            <label class="bmd-label-floating">Picture
                                                                Preview</label><br>
                                                            <img id="frame" class="img-fluid border float-right"
                                                                width="200px" height="150px">
                                                            <a href="#" class="text-danger delete-image"
                                                                data-type="add">
                                                                <i class="far fa-times-circle"></i>
                                                                Delete Image
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>


                                            </form>
                                            <div class="modal-footer">
                                                <a href="/admin/Sponsors" class="btn btn-secondary">
                                                    <i class="fas fa-long-arrow-alt-left"></i>
                                                    Back
                                                </a>
                                                <button type="button" id="submitAdmin" data-type="add"
                                                    data-url="/admin/Administrators/add_admin" data-id=""
                                                    class="btn btn-outline-kts">
                                                    <i class="far fa-paper-plane"></i>
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Administrator Form End -->

                        </div>
                    </div>

            </div>
    </div>

    <script src="/javascripts/personal/country_state.js"></script>
    <script src="/javascripts/personal/country_code.js"></script>
    <script src="/javascripts/personal/script_2.js"></script>

    <script>
        //console.log(countries);
        var country = $('#country');
        var state = $('#state');

        var html_ctry = "<option value=''>Select Country .....</option>";
        var html_state = "<option value=''>Select State .....</option>";
        state.append(html_state);

        for (var t = 0; t < countries.length; t++) {
            var ctry = countries[t].country;
            var ctry_val = ctry + "-" + t
            html_ctry += "<option value='" + ctry_val + "'>" + ctry + "</option>";
        }
        country.append(html_ctry);
        var d = new Date("<%= edity.dob %>");
        var t = "<%= edity.telephone %>";
        var p = "<%= edity.profile_photo %>";
        var c = "<%= edity.country %>";
        var month = (d.getMonth() + 1).toString().length < 2 ? '0' + (d.getMonth() + 1).toString() : d.getMonth() + 1;
        var date = (d.getDate()).toString().length < 2 ? '0' + (d.getDate()) : (d.getDate());
        var dob = d.getFullYear() + "-" + month + "-" + date;
        $("#dob").val(dob);
        $("#gender").val("<%= edity.gender %>");
        $("#country").val(c);

        var cix = $("#country").val().split("-");
        var states = countries[cix[1]].states;
        //console.log(states);
        $("#state").empty();
        html_state = "<option value=''><!-----choose----></option>";
        for (var u = 0; u < states.length; u++) {
            var ste = states[u];
            html_state += "<option value='" + ste + "'>" + ste + "</option>";
        }
        $("#state").append(html_state);
        $("#state").val("<%= edity.state %>");
        $("#email").val("<%= edity.email %>");
        $("#telephone").val(t.split("-")[1]);
        $("#countryCode").val(t.split("-")[0]);
        $("#title").val("<%= edity.user_type %>");
        $("#password").val("");
        if (p != "") {
            $("#profilePic").val("");
            $("#frame").attr("src", p);
            $(".filly").addClass("deactivated");
            $(".prev").removeClass("deactivated");
        }
        $('#submitAdmin').attr("data-url", "/admin/Administrators/edit_profile");
        $('#submitAdmin').attr("data-type", "edit");
        $('#submitAdmin').attr("data-id", "<%= edity.id %>");
    </script>

</body>

</html>