<% include includes/head %>
    <div class="wrapper">
        <% include includes/sidebar %>
            <div class="main-content">
                <% include includes/navbar %>
                    <div class="content">
                        <div class="container-fluid">

                            <!-- BreadCrumb -->
                            <div class="row">
                                <div class="col-12">
                                    <ol class="breadcrumb bg-light-mode">
                                        <li class="breadcrumb-item">
                                            <a href="">
                                                <i class="fas fa-home"></i> Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <i class='fas fa-child'></i> Kids
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <!-- BreadCrumb End -->

                            <!-- Add Button -->
                            <!-- Add Button Modal-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-left mdl-kid-form mt-5">
                                        <a href="/admin/Kids/add_kid" class="btn btn-outline-kts">
                                            <i class="fas fa-plus"></i>
                                            Add A Kid
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Add Button Modal-->
                            <!-- Add Button Form -->
                            <!-- <div class="row">
                                    <div class="col-12">
                                        <div class="float-left mt-5">
                                            <a href="/admin/Kids/add_kid" class="btn btn-outline-kts">
                                                <i class="fas fa-plus"></i>
                                                Add A Kid
                                            </a>
                                        </div>
                                    </div>
                                </div>  -->
                            <!-- End Add Button Form -->
                            <!-- Add Button End -->

                            <!-- Kids Table -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-stats mt-5">
                                        <div class="card-table-title bg-success">
                                            <h4 class="card-title ">Kids Table</h4>
                                            <p class="card-description"> List of kids for the Kids To school Foundation.</p>
                            
                                        </div>
                                        <div class="card-body mt-5">
                                            <% if (kds.length> 0) {%>
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">S/N</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Category</th>
                                                                <th scope="col">Kids</th>
                                                                <th scope="col">Date Created</th>
                                                                <th scope="col">Last Login</th>
                                                                <th scope="col">Status</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (var i=0; i < kds.length; i++) { %>
                                                                <tr>
                                                                    <th scope="row">
                                                                        <%= i + 1; %>
                                                                    </th>
                                                                    <td>
                                                                        <%= kds[i].fname + " " + kds[i].lname %>
                                                                    </td>
                                                                    <td>
                                                                        <%= kds[i].category %>
                                                                    </td>
                                                                    <td>
                                                                        0
                                                                    </td>
                                                                    <td class="pretty-date">
                                                                        <%= kds[i].date_created %>
                                                                    </td>
                                                                    <td class="pretty-date">
                                                                        Never
                                                                    </td>
                                                                <% if (kds[i].id !=user.id) { %>
                                                                    <td>
                                                                        <% if (kds[i].is_active) { %>
                                                                            <div class="custom-control custom-switch">
                                                                                <input type="checkbox" class="custom-control-input"
                                                                                    id="customSwitch-<%= kds[i].id %>" value="False" checked>
                                                                                <label class="custom-control-label"
                                                                                    for="customSwitch-<%= kds[i].id %>"> Active</label>
                                                                            </div>
                                                                            <% } else { %>
                                                                                <div class="custom-control custom-switch">
                                                                                    <input type="checkbox" class="custom-control-input"
                                                                                        id="customSwitch-<%= kds[i].id %>" value="True">
                                                                                    <label class="custom-control-label"
                                                                                        for="customSwitch-<%= kds[i].id %>"> In-Active</label>
                                                                                </div>
                                                                                <% } %>
                                                                    </td>
                                                                <% } else { %>
                                                                    <td></td>
                                                                <% } %>
                                                                    <td class="td-actions">
                                                                        <a href="#" class="profile text-info mr-4"
                                                                            data-id="<%= kds[i].id %>"
                                                                            data-url="/admin/User/get_profile" data-type="display-modal"
                                                                            data-toggle="tooltip" data-placement="top"
                                                                            title="Envoy Details">
                                                                            <i class="fas fa-info-circle"></i>
                                                                        </a>
                                                                        <a href="#" class="edit-envoy text-primary mr-4"
                                                                            data-id="<%= kds[i].id %>"
                                                                            data-url="/admin/User/get_profile" data-type="edit-modal"
                                                                            data-toggle="tooltip" data-placement="top"
                                                                            title="Edit Envoy">
                                                                            <i class="fas fa-pencil-alt"></i>
                                                                        </a>
                                                                        <% if (user.user_type=="ADMS" ) { %>
                                                                            <a href="#" class="delete-envoy text-danger"
                                                                                data-id="<%= kds[i].id %>"
                                                                                data-url="/admin/User/delete_profile"
                                                                                data-toggle="tooltip" data-placement="top"
                                                                                title="Remove Envoy">
                                                                                <i class="fas fa-times"></i>
                                                                            </a>
                                                                        <% } %>
                                                                    </td>
                                                                </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            <% } else { %>
                                                <div class="my-5">
                                                    <h6 class="text-center text-danger">No Kids Available</h6>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Kids Table End -->
                        </div>
                    </div>
                            
            </div>

    </div>
    <% include includes/modal_4.ejs %>
<script src="/javascripts/personal/script_4.js"></script>
</body>

</html>