<!-- Events -->
<section id="events">
    <section class="featured-job-area section-padding30 section-bg2" data-background="/images/gallery/section_bg03.png"
        style="background-image: url(&quot;/images/gallery/section_bg03.png&quot;);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
    
                    <div class="section-tittle text-center mb-80">
                        <span>What we are boing</span>
                        <h2>We arrange many social events for charity donations</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            <% if (!events || events.length <= 0) {  %>
                    <div class="col-12">
                        <div class="text-center text-capitalize">
                            No Events Available
                        </div>
                    </div>
            <%} else { %>
                <% for(var g = 0; g < events.length; g ++) { %>
                    <div class="col-lg-9 col-md-12">
                    
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="#"><img src="<%= events[g].image %>" alt=""
                                            data-pagespeed-url-hash="590587143"
                                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4><%= events[g].title %></h4>
                                    </a>
                                    <ul>
                                        <li><i class="far fa-clock"></i><%= events[g].time %></li>
                                        <li><i class="fas fa-sort-amount-down"></i><%= events[g].date %></li>
                                        <li><i class="fas fa-map-marker-alt"></i><%= events[g].location %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
            </div>
        </div>
    </section>
</section>