<div class="row grid justify-content-space-around <%= tab.row_grid%>">
    <% if (kds.length> 1) {%>
        <% for (var i=0; i < kds.length; i++) { %>
            <div class="col-md-4 my-4">
                <div class="kid profile  mb-3" class="" data-id="<%= kds[i].id %>" data-url="/admin/Kid/get_profile"
                    data-type="display-modal" data-toggle="tooltip" data-placement="top">
                    <img src="<%= kds[i].profile_photo %>" class="img-fluid">
                    <div class="kid-overlay">
                        <div class="text-center">
                            <h3 class="kid-name">
                                <%= kds[i].fname + " " + kds[i].lname %>
                            </h3>
                            <div class="line"></div>
                            <p class="kid-details">
                                <%= kds[i].category %>
                                    <br>
                                    <%= kds[i].age %> Years
                                        <br>
                                        <% if (parseInt(kds[i].remaining)==0 ) { %>
                                            &#8358; 0.00 / &#8358; <%= (kds[i].school_fees).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            <% } else { %> 
                                                &#8358; <%= kds[i].school_fees - kds[i].remaining %> / &#8358; <%=
                                                        (kds[i].school_fees).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                        <% } %>
                                                            <br>

                                                            <a href="#" class="edit-kid btn btn-outline-kid rounded-pill my-2"
                                                                data-id="<%= kds[i].id %>" data-url="/admin/Kid/get_profile"
                                                                data-type="edit-modal" data-toggle="tooltip"
                                                                data-placement="top" title="Edit Kid">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        <% if (user.user_type=="ADMS" ) { %>
                                                            <a href="#" class="s-profile btn btn-outline-kid rounded-pill my-2"
                                                                data-id="<%= kds[i].id %>"
                                                                data-url="/admin/Kids/delete_profile"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Remove Kid">
                                                                <i class="fas fa-times"></i>
                                                            </a>
                                                        <% } %>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        <% } %>
    <% } else if (kds.length==1) { %>
        <% for (var i=0; i < kds[0].length; i++) { %>
            <div class="col-md-4 my-4">
                <div class="kid profile  mb-3" class="" data-id="<%= kds[0][i].id %>"
                    data-url="/admin/Kid/get_profile"
                    data-type="display-modal" data-toggle="tooltip"
                    data-placement="top">
                    <img src="<%= kds[0][i].profile_photo %>" class="img-fluid">
                    <div class="kid-overlay">
                        <div class="text-center">
                            <h3 class="kid-name">
                                <%= kds[0][i].fname + " " + kds[0][i].lname %>
                            </h3>
                            <div class="line"></div>
                            <p class="kid-details">
                                <%= kds[0][i].category %>
                                    <br>
                                    <% if (parseInt(kds[0][i].remaining)==0 ) { %>
                                        &#8358; 0.00 / &#8358; <%= (kds[0][i].school_fees).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                        <% } else { %>
                                            &#8358; <%= (kds[0][i].school_fees -
                                                kds[0][i].remaining).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","
                                                ) %> / &#8358; <%=
                                                    (kds[0][i].school_fees).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","
                                                    ) %>
                                                    <% } %>
                                                        <br>

                                                    <a href="#" class="edit-kid btn btn-outline-kid rounded-pill my-2" data-id="<%= kds[0][i].id %>"
                                                        data-url="/admin/Kid/get_profile" data-type="edit-modal" data-toggle="tooltip" data-placement="top"
                                                        title="Edit Kid">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <% if (user.user_type=="ADMS" ) { %>
                                                        <a href="#" class="s-profile btn btn-outline-kid rounded-pill my-2" data-id="<%= kds[0][i].id %>"
                                                            data-url="/admin/Kids/delete_profile" data-toggle="tooltip" data-placement="top" title="Remove Kid">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                        <% } %>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        <% } %>
    <% } else { %>
        <div class="col-md-12 my-5">
            <h6 class="text-center text-danger">No Kids Available</h6>
        </div>
    <% } %>

</div>