<div class="row grid justify-content-space-around <%= tab.row_grid%>">
    <% if (spns.length > 1) {%>
        <% for (var i=0; i < spns.length; i++) { %>
            <div class="col-md-4 my-4">

                <div class="kid profile  mb-3" data-type="display-modal" data-id="<%= spns[i].id %>" data-url="/admin/User/get_profile">
                <img src="<%= (spns[i].profile_photo != '' ? spns[i].profile_photo : '/images/profile/team/base.jpg' ) %>"
                    class="img-fluid">
                    <div class="kid-overlay">
                        <div class="text-center">
                            <h3 class="kid-name">
                                <%= spns[i].fname + " " + spns[i].lname %>
                            </h3>
                            <div class="line"></div>
                            <p class="kid-details">
                                <br>
                                <%= spns[i].age %> Years
                                <br>
                                <%= spns[i].kids %> Kids
                                <br>
        

                                <a href="#"
                                    class="edit-admin btn btn-outline-kid rounded-pill my-2"
                                    data-id="<%= spns[i].id %>"
                                    data-url="/admin/User/get_profile"
                                    data-type="edit-modal" data-toggle="tooltip"
                                    data-placement="top" title="Edit Sponsor">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            <% if (user.user_type=="ADMS" ) { %>
                                <a href="#"
                                    class="delete-admin btn btn-outline-kid rounded-pill my-2"
                                    data-id="<%= spns[i].id %>"
                                    data-url="/admin/User/delete_profile"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Remove Sponsor">
                                    <i class="fas fa-times"></i>
                                </a>
                            <% } %>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        <% } %>
    <% } else if (spns.length==1) { %>
        <% for (var i=0; i < spns[0].length; i++) { %>
            <div class="col-md-4 my-4">
                <div class="kid profile  mb-3" data-type="display-modal" data-id="<%= spns[0][i].id %>" data-url="/admin/User/get_profile">
                    <img src="<%= (spns[0][i].profile_photo != '' ? spns[0][i].profile_photo : '/images/profile/team/base.jpg' ) %>" class="img-fluid">
                    <div class="kid-overlay">
                        <div class="text-center">
                            <h3 class="kid-name">
                                <%= spns[0][i].fname + " " + spns[0][i].lname %>
                            </h3>
                            <div class="line"></div>
                            <p class="kid-details">
                                <br>
                                <%= spns[0][i].age %> Years
                                <br>
                                <%= spns[0][i].kids %> Kids
                                <br>
                                <a href="#"
                                    class="edit-sponsor btn btn-outline-kid rounded-pill my-2"
                                    data-id="<%= spns[0][i].id %>"
                                    data-url="/admin/User/get_profile"
                                    data-type="edit-modal" data-toggle="tooltip"
                                    data-placement="top" title="Edit Sponsor">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>

                                <% if (user.user_type=="ADMS" ) { %>
                                    <a href="#"
                                        class="delete-sponsor btn btn-outline-kid rounded-pill my-2"
                                        data-id="<%= spns[0][i].id %>"
                                        data-url="/admin/User/delete_profile"
                                        data-toggle="tooltip"
                                        data-placement="top" title="Remove Sponsor">
                                        <i class="fas fa-times"></i>
                                    </a>
                                <% } %>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        <% } %>
    <% } else { %>
            <div class="col-md-12 my-5">
                <h6 class="text-center text-danger">No Sponsors Available</h6>
            </div>
    <% } %>

</div>